@require "../../design/stylus/index"

$margin_size_m ?=   15px
$margin_size_l ?=   25px

$link_text_color ?=    rgb(74, 144, 226)

bottom-margins()
    &_margin_xs
        margin-bottom $margin_xs
    &_margin_s
        margin-bottom $margin_s
    &_margin_m
        margin-bottom $margin_m
    &_margin_l
        margin-bottom $margin_l
    &_margin_xl
        margin-bottom $margin_xl

.text-content
    font-size $font_size_m
    line-height 1.2
    
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 
        line-height $heading_line_height
        margin 0 0 $margin_size_m
        
    h1, .h1
        font-size $font_size_h1
        font-weight normal
    h2, .h2
        font-size $font_size_h2
        font-weight normal
    h3, .h3
        font-size $font_size_h3
        font-weight normal
    h4, .h4
        font-size $font_size_h4
    h5, .h5
        font-size $font_size_h5
    h6, .h6 
        font-size $font_size_h6
        
    p, .p
        margin 0 0 20px
        
    a, .a
        color $link_text_color
        text-decoration none
        
        &:hover, &:focus
            text-decoration underline
    
    /* Large text */
    &_size_l
        font-size $font_size_l
        line-height 1.6

        h1, .h1,
        h2, .h2,
        h3, .h3,
        h4, .h4,
        h5, .h5,
        h6, .h6 
            margin-bottom $margin_l

        p, .p
            margin-bottom $margin_l
        
    &__image
        &_block
            display block
            
    &__links
        a, .a
            margin-left 15px
            margin-right 15px
            
            &:first-child
                margin-left 0
            
            &:last-child
                margin-right 0
                
    .text-content__title,
    .text-content__line
        bottom-margins()