@require "../../design/stylus/index"

.account-dashboard-agency
    &__header
        margin-bottom $margin_m
        
    &__title
        font-size $title_size_m
    
    &__content
        margin-bottom $margin_m
        
    &__item
        font-size $text_size_m
        
        &_name
            margin-bottom $margin_s
            
            &:last-child
                margin-bottom 0
        
        &_note
            color $text_color_light
        