@require "../../design/stylus/index"
    
.account-dashboard-my-list-comment
    position relative
    padding 5px 0;
    border-box()
    
    &__input
        display inline-block
        padding-left 27px
        position relative
        width 767px
    
    &__input-icon
        position absolute
        left 2px
        top 8px
    
    &__input-button
        display inline-block
        vertical-align top
        margin-left 20px
            
    &__input-text
        font-size 11px !important
        line-height 1.3 !important
        padding 6px 8px 5px !important
        width 100%
        height 73px
        border-box()
        