@require "../../design/stylus/index"

.embed
    clearfix()
    
    &_small
        background #FFF9EF
        padding 5px 20px
        
        .embed__link
            display block
            text-decoration none
            
        .embed__image
            width 50px
            margin-right 10px
            vertical-align: middle
        
        .embed__text
            color #000
            font-size 11px
            line-height 12px

        
    