
@require "../../design/stylus/index"

.account-agent-agency
    margins()
    
    &__title
        font-size $text_size_m
        margin-bottom $margin_s
        text_sizes()
        margins()
        
    &__items
        margin-bottom $margin_s
        margins()
        
    &__item
        color $text_color_light
        font-size $text_size_m
        text_sizes()
        
