$layout_width ?=        1280

$text_color       ?=    #000
$text_color_light ?=    #afafaf
$headings_color   ?=    #000
$border_color     ?=    #e5e5e5

$link_text_color         ?= #4d86dd
$link_hover_text_color   ?= #b02a30
$link_visited_text_color ?= #7e7e7e

$font_size_xs ?=        10px
$font_size_s ?=         11px
$font_size_m ?=         13px
$font_size_l ?=         15px
$font_size_xl ?=        16px
    
$font_size_h1 ?=        26px
$font_size_h2 ?=        22px
$font_size_h3 ?=        20px
$font_size_h4 ?=        18px
$font_size_h5 ?=        16px
$font_size_h6 ?=        14px

$text_size_xs  ?=        10px
$text_size_s   ?=        11px
$text_size_m   ?=        13px
$text_size_l   ?=        15px
$text_size_xl  ?=        18px
$text_size_xxl ?=        20px

$title_size_xs  ?=       18px
$title_size_s   ?=       20px
$title_size_m   ?=       26px
$title_size_l   ?=       32px
$title_size_xl  ?=       38px
$title_size_xxl ?=       44px

$line-height-base    ?=  1.154
$heading_line_height ?=  1.154

$text_line_height    ?=   1.33
$text_line_height_xs  ?=  1.1
$text_line_height_s   ?=  1.154
$text_line_height_m   ?=  1.33
$text_line_height_l   ?=  1.4
$text_line_height_xl  ?=  1.6
$text_line_height_xxl ?=  2.0

$title_line_height     ?=  1.33
$title_line_height_xs  ?=  1.1
$title_line_height_s   ?=  1.154
$title_line_height_m   ?=  1.33
$title_line_height_l   ?=  1.4
$title_line_height_xl  ?=  1.6
$title_line_height_xxl ?=  2.0

$margin_xs   ?=          5px
$margin_s    ?=          10px
$margin_m    ?=          20px
$margin_l    ?=          30px
$margin_xl   ?=          40px
$margin_xxl  ?=          50px

$padding_xs  ?=          5px
$padding_s   ?=          10px
$padding_m   ?=          20px
$padding_l   ?=          30px
$padding_xl  ?=          40px
$padding_xxl ?=          50px

$form_group_col_size_xs  ?= 30px
$form_group_col_size_s   ?= 60px
$form_group_col_size_m   ?= 110px
$form_group_col_size_l   ?= 150px
$form_group_col_size_xl  ?= 180px


$control_height_xs ?=   24px
$control_height_s  ?=   26px
$control_height_m  ?=   28px
$control_height_l  ?=   30px
$control_height_xl ?=   35px

$icon_size_m ?=         28px
$icon_size_l ?=         30px