.account-personal-data-form-password__title {
    font-size: 20px;
    line-height: 1.3;

}
.account-personal-data-form-password__line {
    display: block;
    margin-bottom: 20px;
}
.account-personal-data-form-password__line_separator {
    margin-bottom: 30px;
}
.account-personal-data-form-password__line:last-child,
.account-personal-data-form-password__line_separator:last-child {
    margin-bottom: 0;
}
.account-personal-data-form-password__col {
    display: inline-block;
    font-size: 13px;
    line-height: 1.3;
    padding-left: 10px;
    vertical-align: top;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.account-personal-data-form-password__col:first-child {
    padding-left: 0;
}
.account-personal-data-form-password__col_width_label {
    width: 100px;
}
.account-personal-data-form-password__col_width_input_s {
    width: 135px;
}
.account-personal-data-form-password__col_width_input_m {
    width: 330px;
}
.account-personal-data-form-password__password-old,
.account-personal-data-form-password__password-new {
    position: relative;
}
.account-personal-data-form-password__password-old .input_theme_islands.input.input_size_l .input__control,
.account-personal-data-form-password__password-new .input_theme_islands.input.input_size_l .input__control {
    padding-right: 35px;
}
.account-personal-data-form-password__password-old .button_theme_islands.button,
.account-personal-data-form-password__password-new .button_theme_islands.button {
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    z-index: 1;
}
