.password-input {
	position: relative;
	width: 350px;
}

.password-input .input {
	width: 100%;
}

.password-input .button {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	bottom: 0;
	right: 0;
	border: 0;
	background: none;
	z-index: 2;
}

.password-input .button:before { background-color: transparent; }

.password-input .button:hover {
	background: none;
}

.password-input .button:focus {
	box-shadow: none;
}

.password-input .hide {
	display: none;
}

.password-input .input .input__control {
	padding-right: 35px;
}

.password-input_wrong .input_theme_islands.input {
	background-color: #d0021b;
}

.password-input_show-pass .password-input__switcher {
	opacity: .3;
}

.password-input_show-pass .input {
	display: block;
}

.password-input_show-pass .input_type_password {
	display: none;
}

.password-input .button_theme_islands.button_pressed:before {
	background-color: transparent;
}