@require "../../design/stylus/index"

.promotion
    &__left
        width 270px
        border-box()
        
    &__right
        width auto
        border-box()
        
    &__links
        a
            display inline-block
            margin-right $margin_l
        