@require "../../design/stylus/index"

.pd.pd
    &_0, &_clear
        padding 0
    &_xs
        padding $padding_xs
    &_s
        padding $padding_s
    &_m
        padding $padding_m
    &_l
        padding $padding_l
    &_xl
        padding $padding_xl
    &_xxl
        padding $padding_xxl
        
    &_vh
        &_0-xs
            padding 0 $padding_xs
        &_0-s
            padding 0 $padding_s
        &_0-m
            padding 0 $padding_m
        &_0-l
            padding 0 $padding_l
        &_0-xl
            padding 0 $padding_xl
        &_0-xxl
            padding 0 $padding_xxl
            
        &_xs-0
            padding $padding_xs 0
        &_xs-s
            padding $padding_xs $padding_s
        &_xs-m
            padding $padding_xs $padding_m
        &_xs-l
            padding $padding_xs $padding_l
        &_xs-xl
            padding $padding_xs $padding_xl
        &_xs-xxl
            padding $padding_xs $padding_xxl
    
        &_s-0
            padding $padding_s 0
        &_s-xs
            padding $padding_s $padding_xs
        &_s-m
            padding $padding_s $padding_m
        &_s-l
            padding $padding_s $padding_l
        &_s-xl
            padding $padding_s $padding_xl
        &_s-xxl
            padding $padding_s $padding_xxl

        &_m-0
            padding $padding_m 0
        &_m-xs
            padding $padding_m $padding_xs
        &_m-s
            padding $padding_m $padding_s
        &_m-l
            padding $padding_m $padding_l
        &_m-xl
            padding $padding_m $padding_xl
        &_m-xxl
            padding $padding_m $padding_xxl
    
        &_l-0
            padding $padding_l 0
        &_l-xs
            padding $padding_l $padding_xs
        &_l-s
            padding $padding_l $padding_s
        &_l-m
            padding $padding_l $padding_m
        &_l-xl
            padding $padding_l $padding_xl
        &_l-xxl
            padding $padding_l $padding_xxl
        
        &_xl-0
            padding $padding_xl 0
        &_xl-xs
            padding $padding_xl $padding_xs
        &_xl-s
            padding $padding_xl $padding_s
        &_xl-m
            padding $padding_xl $padding_m
        &_xl-l
            padding $padding_xl $padding_l
        &_xl-xxl
            padding $padding_xl $padding_xxl

        &_xxl-0
            padding $padding_xxl 0
        &_xxl-xs
            padding $padding_xxl $padding_xs
        &_xxl-s
            padding $padding_xxl $padding_s
        &_xxl-m
            padding $padding_xxl $padding_m
        &_xxl-l
            padding $padding_xxl $padding_l
        &_xxl-xl
            padding $padding_xxl $padding_xl
        
    &_tb
        &_0, &_clear
            padding-top 0
            padding-bottom 0
        &_xs
            padding-top $padding_xs
            padding-bottom $padding_xs
        &_s
            padding-top $padding_s
            padding-bottom $padding_s
        &_m
            padding-top $padding_m
            padding-bottom $padding_m
        &_l
            padding-top $padding_l
            padding-bottom $padding_l
        &_xl
            padding-top $padding_xl
            padding-bottom $padding_xl
        &_xxl
            padding-top $padding_xxl
            padding-bottom $padding_xxl
            
    &_lr
        &_0, &_clear
            padding-left 0
            padding-right 0
        &_xs
            padding-left $padding_xs
            padding-right $padding_xs
        &_s
            padding-left $padding_s
            padding-right $padding_s
        &_m
            padding-left $padding_m
            padding-right $padding_m
        &_l
            padding-left $padding_l
            padding-right $padding_l
        &_xl
            padding-left $padding_xl
            padding-right $padding_xl
        &_xxl
            padding-left $padding_xxl
            padding-right $padding_xxl
    
    &_t
        &_0, &_clear
            padding-top 0
        &_xs
            padding-top $padding_xs
        &_s
            padding-top $padding_s
        &_m
            padding-top $padding_m
        &_l
            padding-top $padding_l
        &_xl
            padding-top $padding_xl
        &_xxl
            padding-top $padding_xxl
            
    &_b
        &_0, &_clear
            padding-bottom 0
        &_xs
            padding-bottom $padding_xs
        &_s
            padding-bottom $padding_s
        &_m
            padding-bottom $padding_m
        &_l
            padding-bottom $padding_l
        &_xl
            padding-bottom $padding_xl
        &_xxl
            padding-bottom $padding_xxl
            
    &_l
        &_0, &_clear
            padding-left 0
        &_xs
            padding-left $padding_xs
        &_s
            padding-left $padding_s
        &_m
            padding-left $padding_m
        &_l
            padding-left $padding_l
        &_xl
            padding-left $padding_xl
        &_xxl
            padding-left $padding_xxl
    
    &_r
        &_0, &_clear
            padding-right 0
        &_xs
            padding-right $padding_xs
        &_s
            padding-right $padding_s
        &_m
            padding-right $padding_m
        &_l
            padding-right $padding_l
        &_xl
            padding-right $padding_xl
        &_xxl
            padding-right $padding_xxl
    
    