@require "../../design/stylus/index"

.contacts
    &__left
        width 270px
        border-box()
        
    &__right
        width auto
        border-box()
    
    &__header
        margin-bottom $margin_l
        
    &__title
        font-size $font_size_h1
        font-weight normal
        line-height $heading_line_height
        margin 0
        
