@require "../../design/stylus/index"

.mr.mr
    &_0, &_clear
        margin 0
    &_auto
        margin auto
    &_xs
        margin $margin_xs
    &_s
        margin $margin_s
    &_m
        margin $margin_m
    &_l
        margin $margin_l
    &_xl
        margin $margin_xl
    &_xxl
        margin $margin_xxl
    
    &_vh
        &_0_auto
            margin 0 auto
        &_0-xs
            margin 0 $margin_xs
        &_0-s
            margin 0 $margin_s
        &_0-m
            margin 0 $margin_m
        &_0-l
            margin 0 $margin_l
        &_0-xl
            margin 0 $margin_xl
        &_0-xxl
            margin 0 $margin_xxl
        
        &_xs-0
            margin $margin_xs 0
        &_xs_auto
            margin $margin_xs auto
        &_xs-s
            margin $margin_xs $margin_s
        &_xs-m
            margin $margin_xs $margin_m
        &_xs-l
            margin $margin_xs $margin_l
        &_xs-xl
            margin $margin_xs $margin_xl
        &_xs-xxl
            margin $margin_xs $margin_xxl
        
        &_s-xs
            margin $margin_s 0
        &_s_auto
            margin $margin_s auto
        &_s-0
            margin $margin_s $margin_xs
        &_s-m
            margin $margin_s $margin_m
        &_s-l
            margin $margin_s $margin_l
        &_s-xl
            margin $margin_s $margin_xl
        &_s-xxl
            margin $margin_s $margin_xxl

        &_m-0
            margin $margin_m 0
        &_m_auto
            margin $margin_m auto
        &_m-xs
            margin $margin_m $margin_xs
        &_m-s
            margin $margin_m $margin_s
        &_m-l
            margin $margin_m $margin_l
        &_m-xl
            margin $margin_m $margin_xl
        &_m-xxl
            margin $margin_m $margin_xxl
    
        &_l-0
            margin $margin_l 0
        &_l_auto
            margin $margin_l auto
        &_l-xs
            margin $margin_l $margin_xs
        &_l-s
            margin $margin_l $margin_s
        &_l-m
            margin $margin_l $margin_m
        &_l-xl
            margin $margin_l $margin_xl
        &_l-xxl
            margin $margin_l $margin_xxl
        
        &_xl-0
            margin $margin_xl 0
        &_xs_auto
            margin $margin_xs auto
        &_xl-xs
            margin $margin_xl $margin_xs
        &_xl-s
            margin $margin_xl $margin_s
        &_xl-m
            margin $margin_xl $margin_m
        &_xl-l
            margin $margin_xl $margin_l
        &_xl-xxl
            margin $margin_xl $margin_xxl

        &_xxl-0
            margin $margin_xxl 0
        &_xxl_auto
            margin $margin_xxl auto
        &_xxl-xs
            margin $margin_xxl $margin_xs
        &_xxl-s
            margin $margin_xxl $margin_s
        &_xxl-m
            margin $margin_xxl $margin_m
        &_xxl-l
            margin $margin_xxl $margin_l
        &_xxl-xl
            margin $margin_xxl $margin_xl
            
    &_tb
        &_0, &_clear
            margin-top 0
            margin-bottom 0
        &_auto
            margin-top auto
            margin-bottom auto
        &_xs
            margin-top $margin_xs
            margin-bottom $margin_xs
        &_s
            margin-top $margin_s
            margin-bottom $margin_s
        &_m
            margin-top $margin_m
            margin-bottom $margin_m
        &_l
            margin-top $margin_l
            margin-bottom $margin_l
        &_xl
            margin-top $margin_xl
            margin-bottom $margin_xl
        &_xxl
            margin-top $margin_xxl
            margin-bottom $margin_xxl
            
    &_lr
        &_0, &_clear
            margin-left 0
            margin-right 0
        &_auto
            margin-left auto
            margin-right auto
        &_xs
            margin-left $margin_xs
            margin-right $margin_xs
        &_s
            margin-left $margin_s
            margin-right $margin_s
        &_m
            margin-left $margin_m
            margin-right $margin_m
        &_l
            margin-left $margin_l
            margin-right $margin_l
        &_xl
            margin-left $margin_xl
            margin-right $margin_xl
        &_xxl
            margin-left $margin_xxl
            margin-right $margin_xxl
            
    &_t
        &_0, &_clear
            margin-top 0
        &_auto
            margin-top auto
        &_xs
            margin-top $margin_xs
        &_s
            margin-top $margin_s
        &_m
            margin-top $margin_m
        &_l
            margin-top $margin_l
        &_xl
            margin-top $margin_xl
        &_xxl
            margin-top $margin_xxl
    &_b
        &_0, &_clear
            margin-bottom 0
        &_auto
            margin-bottom auto
        &_xs
            margin-bottom $margin_xs
        &_s
            margin-bottom $margin_s
        &_m
            margin-bottom $margin_m
        &_l
            margin-bottom $margin_l
        &_xl
            margin-bottom $margin_xl
        &_xxl
            margin-bottom $margin_xxl
            
    &_l
        &_0, &_clear
            margin-left 0
        &_auto
            margin-left auto
        &_xs
            margin-left $margin_xs
        &_s
            margin-left $margin_s
        &_m
            margin-left $margin_m
        &_l
            margin-left $margin_l
        &_xl
            margin-left $margin_xl
        &_xxl
            margin-left $margin_xxl
    
    &_r
        &_0, &_clear
            margin-right 0
        &_auto
            margin-right auto
        &_xs
            margin-right $margin_xs
        &_s
            margin-right $margin_s
        &_m
            margin-right $margin_m
        &_l
            margin-right $margin_l
        &_xl
            margin-right $margin_xl
        &_xxl
            margin-right $margin_xxl
    
    