.similar_realties {}

.similar_realties__header {
	margin: 0;
	padding: 28px 0 10px 20px;
	font-size: 18px;
}

.similar_realties__header-text {
	display: inline;
	margin: 0;
	padding-right: 12px;
	letter-spacing: -1px;
}

.similar_realties__more {
	padding: 18px 0 29px;
	text-align: center;
}