.adv{
	background: #eb9e3b;
	color: #fff;
	text-align: center; 
	font-size: 13px;
	margin: 0 auto; 
	position: relative;
	display: block;
}

.adv_full{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-top: 1px solid #fff;



	background: -moz-linear-gradient(top,  rgba(235,158,59,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,158,59,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(235,158,59,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(235,158,59,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(235,158,59,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(235,158,59,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb9e3b', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */

}

.adv_not_first{
	margin-top: 30px;
}

.adv .image{
	max-width: 100%;
	position: absolute;
	top: 50%;;
	left: 50%;
	transform: translate(-50%, -50%);
}