@require "../../design/stylus/index"

.about
    &__left
        width 270px
        border-box()
        
    &__right
        width auto
        border-box()
        
    &__content
        min-height 920px
        border-box()  
        