@require "../../design/stylus/index"
    
.account-dashboard-list-comment-edit
    position relative
    margin-bottom 10px
    min-height 25px
    border-box()
    
    &_visible &__container
        display block

    &__container
        display none
        padding-left 30px
        border-box()
        clearfix()
        
    &__input-wrapper
        float left
        width 767px
        margin-right 20px
        margin-bottom 10px
        
    &__input
        display block
        float none
        margin-right 20px
        font-size 11px !important
        line-height 1.3 !important
        padding 6px 8px 5px !important
        height 73px
        border-box()
        
    
    &__button
        &_action_toggle&
            position absolute
            top 5px
            left 0
    
        &_action_save&
            float left
    
    &__spin
        float left
        margin-top 2px
        margin-left 5px        
        
        