.search_map{
	border-top: 1px solid rgb(229, 229, 229);
    width: 100%;
    height: 585px;
    position: relative;
}

.search_map .map{
	height: 585px;
}

.search_map_search-line-hidden .search_map_controls {
	display: none;
}