.objects-list-item-lists
    width 230px
    
    &__list
        max-height 180px
        overflow-y auto
    
    &__add-form
        padding 10px
        background #f2f2f2
        
    .menu-item_theme_islands.menu-item_disabled
        opacity 1
