.account-personal-data-content__header {
    padding: 20px 20px 20px 30px;
}
.account-personal-data-content__title {
    font-size: 26px;
    line-height: 1.3;
}
.account-personal-data-content__title:last-child {
    margin-bottom: 0;
}
.account-personal-data-content__title-help {
    color: #afafaf;
    font-size: 13px;
    line-height: 15px;
}
.account-personal-data-content__form {
    padding: 10px 30px 30px;
}
.label.label_height_l, .label_theme_islands.label.label_height_l,
.checkbox.checkbox_height_l, .checkbox_theme_islands.checkbox.checkbox_height_l {
    line-height: 30px !important;
}
