.registration__bottom {
	position: relative;
	width: 600px;
	margin: 30px auto 0;
	text-align: center;
	line-height: 30px;
	vertical-align: middle;
}

.registration__link {
	float: left;
	font-size: 11px;
	color: #000;
	text-decoration: none;
}

.registration__bottom .pull_left,
.registration__bottom .pull_right {
	position: absolute;
	top: 2px;
}

.registration__bottom .pull_left { left: 0; }
.registration__bottom .pull_right { right: 0; }