.account-personal-data-form__line {
    display: block;
    margin-bottom: 20px;
}
.account-personal-data-form__line_separator {
    margin-bottom: 30px;
}
.account-personal-data-form__line:last-child,
.account-personal-data-form__line_separator:last-child {
    margin-bottom: 0;
}
.account-personal-data-form__col {
    display: inline-block;
    font-size: 13px;
    line-height: 1.3;
    padding-left: 10px;
    vertical-align: top;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.account-personal-data-form__col:first-child {
    padding-left: 0;
}
.account-personal-data-form__col_width_label {
    width: 100px;
}
.account-personal-data-form__col_width_input_s {
    width: 135px;
}
.account-personal-data-form__col_width_input_m {
    width: 330px;
}
.account-personal-data-form__phone {
    margin-bottom: 8px;
}
.account-personal-data-form__button-add-phone {
    display: block;
    color: #afafaf;
    font-size: 11px;
    line-height: 12px;
}
.account-personal-data-form__messengers.checkbox-group.checkbox-group_theme_islands.checkbox-group_size_m {
    line-height: 30px !important;
}
