.account-offer {
    background: #f9f9f9;
    display: table;
    margin-bottom: 20px;
    width: 230px;
    height: 134px;
    text-decoration: none;

    -webkit-box-shadow: 0 0 0 1px #e3e3e3;
       -moz-box-shadow: 0 0 0 1px #e3e3e3;
            box-shadow: 0 0 0 1px #e3e3e3;
}
.account-offer__text {
    display: table-cell;
    color: #b9b9b9;
    font-size: 11px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
}
