@require "../../design/stylus/index"

.panels
    border 1px solid $border_color
    border-collapse collapse
    display table
    position relative
    top -1px
    width 100%
    border-box()
    
    &__left,
    &__right,
    &__middle
        display table-cell
        border 1px solid $border_color
        vertical-align top
        height 1px
        border-box()
        
    &__item
        paddings()

        