.account-dashboard-messages
    &_hidden
        display none
        
    &__items
        background: #f8fdf3
        border: 1px solid #7ed321
        padding: 20px 30px;
        
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        
    &__item
        font-size 15px
        line-height 1.4
        margin-bottom 10px
    
    &__item:last-child
        margin-bottom 0