.auth-form__form {
	display: table;
	margin-bottom: -20px;
	width: 100%;
}

.auth-form__form-line {
	display: table-row;
}

.auth-form__label,
.auth-form__field {
	position: relative;
	display: table-cell;
	padding-bottom: 30px;
	vertical-align: middle;
	font-size: 13px;
}

.auth-form__label {
	width: 130px;
	vertical-align: middle;
}

.auth-form__field-desc { width: 350px; }

.auth-form__label.vertical-top { padding-top: 8px; }

.auth-form__field { vertical-align: top; }

.vertical-top { vertical-align: top; }

.auth-form__field .input_theme_islands.input.input_size_l { width: 350px; }
.auth-form__field .input_theme_islands.input.input_size_l.input_full-size { width: 100%; }
.auth-form__field .input_theme_islands.input.input_size_l.input_w130 { width: 130px; }
.auth-form__field .input_theme_islands.input.input_size_l.input_w170 { width: 170px; }

.auth-form__field .select { width: 350px; }

.auth-form__field .select_theme_islands.select { float: none; }

.auth-form__field .select .button { border-radius: 0; }

.auth-form__field .select.select_full-size { width: 100%; }

.auth-form__field .checkbox-group_theme_islands.checkbox-group_size_m {
	line-height: 30px;
	margin-left: 15px;
}

.auth-form__field-desc {
	font-size: 11px;
	padding-top: 6px;
	color: #bbb;
}

.auth-form__field .input_theme_islands.input.input_size_l .input__control {
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	width: 100%;
}

.auth-form__phone-line {
	margin-bottom: 20px;
}

.auth-form__add-phone {
	position: absolute;
	bottom: 30px;
	left: 0;
	color: #bbb;
	font-size: 11px;
	text-decoration: none;
}

.input__control {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.long-input .input__control { width: 100%; }
.short-input .input__control {
	width: 130px;
	margin-right: 13px;
}

.auth-form__preson-switcher {
	margin-bottom: 30px;
	text-align: center;
}

.auth-form__preson-switcher .button_theme_islands.button_size_xl,
.auth-form__preson-switcher .button_theme_islands.button.button_size_xl,
.auth-form__preson-switcher .button_theme_islands.button.button_size_xl .button__text {
	height: 28px;
	line-height: 28px;
}

.registration-block { text-align: center; }

.registration-block .tabs__container { text-align: left; }