.search_map_results__table_row_inner {
    margin: 0 10px;
    padding: 9px 0;
    position: relative;
}
.search_map_results__table_row_inner:after {
    content: '';
    display: block;
    height: 0;
    width: 100%;
    border-top: 2px solid #ececec;
    position: absolute;
    z-index: -1;
    top: 100%;
    clear: both;
}
