.account-dashboard-title-edit
    display none
    margin 5px 0 20px
    
    &_visible
        display block
    
    .account-dashboard-title-edit &__input
        display inline-block
        margin-right 20px
        width 795px;
        
    .account-dashboard-title-edit &__button
        display inline-block