.registration__ban {
	min-height: 300px;
	background-color: rgb(229, 229, 229);
}

.registration__ban img {
	width: 100%;
}

.registration__text {
	color: #b3b3b3;
	font-size: 18px;
	padding-top: 72px;
	margin: 0;
	text-align: center;
}