.nod-table {
	width: 100%;
}

.nod-table_size_m .nod-table__name,
.nod-table_size_m .nod-table__text {
	font-size: 11px;
}

.nod-table_size_l .nod-table__name,
.nod-table_size_l .nod-table__text {
	font-size: 13px;
}

.nod-table__name,
.nod-table__text {
	font-size: 11px;
	vertical-align: top;
	padding: 1px 0;
}

.nod-table_size_m .nod-table__name { padding-right: 2px; }
.nod-table_size_l .nod-table__name { padding-right: 20px; }

.nod-table__name {
	white-space: nowrap;
	color: #bbb;
	width: 1px;
}