.error-404
    &__title
        font-size 26px
        font-weight normal
        line-height 30px
        margin 0 auto
        text-align center
        width 496px
        
    &__content
        height 444px
        width 100%
        background url("../../img/error-404.png") center center no-repeat
        position relative
        margin-bottom 20px
    
    &__link
        position absolute
        z-index 1
        width 68px
        height 33px
        background #fff
        opacity 0.1
        
        &:hover, &:focus
            opacity 0

        &_home
            top 132px
            left 388px
        
        &_search
            top 132px
            left 823px
                
        
        