.gallery{
	margin-bottom: 25px;
}

.gallery__current{
	width: 600px;
	height: 450px;
	background: rgb(240, 240, 240);
	margin-bottom: 10px;
	overflow: hidden;
	cursor: pointer;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}


.gallery__list{
	font-size: 0;
}



.gallery__item{
	width : 98px;
	height: 74px;
	background: rgb(240, 240, 240);
	display: inline-block;
	margin-right: 2.4px;
	cursor: pointer;
	border: 2px solid transparent;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	overflow: hidden;
  	font-size: 0;
}


.gallery__item_active{
	border-color: rgb(255, 220, 97);
	cursor: default;
}


.gallery__item:last-child{
	margin-right: 0;
}