.new-buildings-filter__line {
    margin-bottom: 20px;
}

.new-buildings-filter__line:last-child {
    margin-bottom: 0;
}

.new-buildings-filter__col {
    display: inline-block;
    margin-right: 30px;
    vertical-align: baseline;
}

.new-buildings-filter__label {
    font-size: 11px;
}

.new-buildings-filter__label .control-group {
    float: none !important;
    display: inline-block;
    vertical-align: baseline;
    margin: 0 6px;
}